header {
	background-color: #282A36;
	color: white;
	text-align: center;
}

h1 {
	padding-top: 1em;
	padding-bottom: 0;
}

svg {
	width: 100%;
	margin: 0 auto;
	display: block;
}

rect, line {
	fill: none;
	stroke: #D8D9E1;
	stroke-width: 1.8px;
	vector-effect: non-scaling-stroke;
}

svg text {
	font-weight: lighter;
	fill: #C4C5CC;
	word-spacing: 2px;
}

video {
	width: 100%;
}

.row#progress a {
	width: 100%;
	display: inline-block;
}

.row#progress img {
	display: block;
	width: 100%;
}

@media all and (min-width: 600px) {
	.row#progress a {
		width: 49%;
	}
}

@media all and (min-width: 900px) {
	.row#progress a {
		width: 32%;
	}	
}